/**************
    General
***************/
body {
    background: #fafafa;
    margin: 0 auto;
}

section, footer {
    font-family: 'Barlow', sans-serif;
}

/* buttons */
.anchor-button,
.form-button {
    font-size: 14px;
    width: 35px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 5px 9px;
    margin-right: 2px;
    transition: all 0.2s;
    border: 0;
    background: none;
    color: rgb(85, 26, 139);
}

.anchor-button:hover,
.form-button:hover {
    background: #e6e6e6;
}

.anchor-button:focus {
    color: rgb(85, 26, 139);
}

/* form fields */
form > div {
    margin: 5% 0;
}

form .alert-danger {
    color: #cc0000;
    margin-top: 2%;
}

label {
    display: inline-block;
    margin-bottom: 2%;
}

input.is-invalid {
    border: 1px solid red;
}

input,
textarea {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #1a1a1a;
    padding: 10px 10px 12px;
    width: 100%;
}

input[type='submit'] {
    background: #b62f2f;
    cursor: pointer;
    color: white;
    padding: 7px 5px 10px;
    transition: all 0.2s;
    border: 0;
    display: block;
    width: 120px;
    margin: 0 auto;
}

input[type='submit']:hover{
    background: #a22a2a;
}

/**************
    HEADER
***************/
header {
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin: 0;
}

header h1 a {
    font-style: italic;
    color: #a22a2a;
    text-decoration: none;
}

/**************
    FOOTER
***************/
footer {
    text-align: center;
    margin-top: 20px;
    color: #808080;
}

/**************
    SECTION
***************/
.container {
    background: #ffffff;
    width: 700px;
    padding: 1.5% 0;
    margin: 0 auto;
    border-radius: 10px;
}

.container > div {
    width: 75%;
    margin: 0 auto;
}

.index-container {
    width: 1000px;
}

/* index */
table {
    width: 100%;
    table-layout:fixed;
    border-collapse: collapse;
}

table form {
    display: inline;
}

table td:first-of-type {
    padding-left: 10px;
}

table thead td {
    font-weight: bold;
    padding: 2.5% 0;
}

table tbody td {
    color: #636363;
    padding: 3% 0;
}

table tr {
    border-bottom: 1px solid #f2f2f2;
}

.table-add .anchor-button {
    display: block;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    margin: 1.5% auto 0;
    font-size: 21px;
    padding: 5px 0 6px;
}

.table-add .anchor-button:hover {
    background: #e6e6e6;
}

/* show */
.show-container .attribute {
    margin: 5%;
}

.show-container .attribute span:first-of-type {
    font-weight: bold;
}

.show-container .actions {
    margin: 5%;
}

.show-container .actions form {
    display: inline-block;
}
